$btnUno: #a8d9de;
$btnDos: #c2d1d9;
$encabezado: #9cb4c3;
$cuerpoCard: #daeaf4;
$btnAgua: #10A986;
$btnVerde: #3aaa35;

.Premium{
    width: 80%;
    padding: 40px 0;
    display: block;
    margin: auto;
    margin-top: 3.5rem;
    
    @media (width <= 700px) {
        margin-top: 4rem;
        width: 95%;
    }

    .text{
        text-align: center;
        h1{
            font-weight: bold;
            font-size: 1.5rem;
        }
    }

    .banner{
        width: 100%;
        margin: 40px 0;
        img{
            width: 100%;
        }
        .bannerPMobile{
            display: none;
        }

        @media (width <= 700px) {
            .bannerPMobile{
                display: block;
            }
            .bannerPDesk{
                display: none;
            }
        }
    }   
        
    .planes{
        display: flex;
        gap: 20px;

        @media (width <= 700px) {
            flex-direction: column;
        }

        .plan{
            width: 50%;
            background: #e5e9e5;
            padding: 40px;
            border-radius: 35px;
            display: flex;

            @media (width <= 700px) {
                width: 100%;
                flex-direction: column;
            }

            .first{
                width: 30%;

                @media (width <= 700px) {
                    width: 100%;
                }

                img{
                    width: 100%;
                    margin-bottom: 10px;

                    @media (width <= 700px) {
                        width: 60%;
                        display: block;
                        margin: auto;
                        margin-bottom: 10px;
                    }
                }
                span{
                    font-weight: bold;
                    font-size: 1.8rem;
                    display: block;
                    text-align: center;
                    text-transform: uppercase;
                }

                .price{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 200px;
                    flex-direction: column;
                    position: relative;

                    @media (width <= 700px) {
                        height: auto;
                        padding: 40px 0;
                    }

                    p{
                        margin-bottom: 0;
                        text-transform: uppercase;
                        font-size: 0.9rem;
                    }

                    a{
                        text-decoration: none;
                        width: 100%;
                        text-align: center;
                        background: #6fb74c;
                        padding: 10px 0;
                        border-radius: 50px;
                        color: #000;
                        font-weight: bold;
                        position: absolute;
                        bottom: 0;

                        @media (width <= 700px) {
                            position: static;
                            margin-top: 10px;
                        }
                    }
                }
            }
            .second{
                width: 70%;

                @media (width <= 700px) {
                    width: 100%;
                }

                span{
                    display: block;
                    text-align: center;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 1.1rem;
                }

                ul{
                    margin-top: 20px;
                    margin-left: 40px;

                    @media (width <= 700px) {
                        margin-left: 0;
                    }

                    > * + * {
                        margin-top: 15px;
                    }

                    li{
                        list-style: none;
                    }
                }
            }
        }

        .premium{
            background: #d5e3e3;
        }
        .empresarial1{
            background: #ded3ea;
        }
        .empresarial2{
            background: #cbdeee;
        }
    }

}