@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

*{
    font-family: 'Lato', sans-serif;
    color: #272527;
}

body{
    box-sizing: border-box;

    a{
        text-decoration: none;
    }
    button{
        outline: none!important;
    }
}

@import './scss/header';
@import './scss/home';
@import './scss/footer';

@import './scss/pages/bannerPrincipal';
@import './scss/pages/cardsColores';
@import './scss/pages/tarjetaDigital';
@import './scss/pages/tarjetaFisica';
@import './scss/pages/tarjeteroDigital';
@import './scss/pages/preguntasFrec';
@import './scss/pages/aviso';

@import './scss/Premium/premium';
@import './scss/Landing/landing';