$colorRosa: #d8bfbe;
$colorBannerFondo: #ddd4d5;
$colorVerdeLimon: #aac02f;
$colorTextoAzul: #006e96;

$cardAzul: #dcecf2;
$cardAmarilla: #f2f5dc;
$cardVioleta: #dfdef2;
$btnAzul: #00748B;
$btnVerde: #3C8144;
$btnVioleta: #696D9C;
$btnNaranja: #C56A36;


// Tarjeta digital
.tarjeta{
    width: 80%;
    padding: 40px 0;

    @media screen and (max-width: 575px){
        width: 95%;
    }

    .cuerpo{
        padding: 40px 80px;
        border-radius: 25px;
        
        @media screen and (max-width: 575px){
            padding: 40px;
        }
    }
}

// btnSolicita
.btnSolicita{
    width: 80%;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 575px){
        width: 100%;
    }

    a{
        text-decoration: none;
        color: #fff;
        background: $btnVerde;
        border-radius: 8px;
        padding: 10px 50px;

        @media screen and (max-width: 575px){
            text-align: center;
        }
    }
}


// Banner Celulares
.bannerCelulares{
    background: $colorVerdeLimon;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    
    .cuerpo{
        width: 60%;

        @media screen and (max-width: 575px){
            width: 100%;
        }
    }
}

// Btn Contáctanos
.Contacto{
    display: flex;
    justify-content: center;

    @media screen and (max-width: 575px){
        display: block;
    }
    
    .btnContactanos{
        a{
            padding: 10px 50px;
            text-decoration: none;
            background: $btnVioleta;
            color: #fff;
            border-radius: 100px;

            @media screen and (max-width: 575px){
                display: block;
                margin: auto;
                width: 60%;
                text-align: center;
                margin-top: 20px;
            }
        }
    }
}

// Preguntas Frecuentes
// .PreguntasFrecuentes{
//     .cuerpo{
//         background: #d7e3f4;

//         h6{
//             @media screen and (max-width: 575px){
//                 text-align: center;
//             }
//         }

//         ul{
//             list-style: none;
//         }
//         p{
//             margin-top: 10px;

//             @media screen and (max-width: 575px){
//                 text-align: center;
//             }
//             span{
//                 font-size: 0.9rem;
//             }
//         }
//     }
// }