$colorRosa: #d8bfbe;
$colorBannerFondo: #ddd4d5;
$colorVerdeLimon: #aac02f;
$colorTextoAzul: #006e96;

$cardAzul: #dcecf2;
$cardAmarilla: #f2f5dc;
$cardVioleta: #dfdef2;
$btnAzul: #00748B;
$btnVerde: #3C8144;
$btnVioleta: #696D9C;
$btnNaranja: #C56A36;

// BannerVideo
.bannerVideo{
    background: $colorBannerFondo;
    margin-top: 77.4px;
    display: flex;
    height: calc(100vh - 77.4px);
    justify-content: center;
    @media screen and (max-width: 1024px){
        padding: 0;
    }

    .video{
        display: flex;
        position: absolute;
        width: auto;
        height: calc(100vh - 77.4px);
        justify-content: center;

        @media screen and (max-width: 1024px){
            display: none;
        }

        video{
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .contenido{
            position: absolute;
            width: 40%;
            bottom: 0;
            left: 0;
            padding: 0 20px;

            h1{
                font-size: 1.3rem;
                font-weight: bold;
            }

            .green{
                background: #a2d40a;
                margin-top: 25px;
                padding: 50px;
                border-radius: 50px 50px 0 0;

                h5{
                    font-weight: 400;
                }
                h6{
                    line-height: 1.6rem;
                    span{
                        color: #2E6634;
                    }
                }
            }
        }
    }

    .videoMobile{
        justify-content: center;
        overflow: hidden;

        video{
            // width: 100%;     
            height: 100%;
            object-fit: contain;
        }

        .contenido{
            position: absolute;
            bottom: 0;
            padding: 25px;
            text-align: center;

            h5{
                font-weight: 400;
            }
        }
    }
}
.bannerMobile{
    background: $colorBannerFondo;
    padding: 25px;
    border-radius: 0 0 25px 25px;

    h4{
        font-weight: 400;
    }
    h5{
        line-height: 1.6rem;
        span{
            color: #2E6634;
        }
    }
}

// Cards
.cards{
    padding: 40px 0;
    width: 80%;

    @media screen and (max-width: 1024px){
        width: 90%;
        overflow: hidden;
    }

    .cardsMobile{
        @media screen and (max-width: 1024px){
            display: none!important;
        }
        @media screen and (max-width: 575px){
            display: block!important;
        }
    }
    .cardsTablet{
        @media screen and (max-width: 1024px){
            display: block!important;
        }
        @media screen and (max-width: 575px){
            display: none!important;
        }
    }

    .card{
        background: $cardAzul;
        padding: 25px;
        width: 31%;
        border: none;
        border-radius: 25px;
        height: 760px;

        @media screen and (max-width: 1024px){
            width: 95%!important;
            display: block;
            margin: auto;
        }

        @media screen and (max-width: 575px){
            width: 97%!important;
            height: 790px;
            display: block!important;
            margin: auto!important;
        }

        .title{
            margin-bottom: 25px;
            h4{
                text-align: center;
            }
        }

        .body{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 30px;

            img{
                width: 50px;
            }
            p{
                span{
                    font-size: 1.1rem;
                }
                margin-bottom: 0;
            }
        }

        .buttons{
            margin-top: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding: 20px 0;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            a{
                color: #fff;
                padding: 10px 15px;
                border-radius: 8px;
                text-decoration: none;

                @media screen and (max-width: 575px){
                    font-size: 0.9rem;
                }
            }
            .btnAzul{
                background: $btnAzul;
            }
            .btnVerde{
                background: $btnVerde;
            }
            .btnVioleta{
                background: $btnVioleta;
                span{
                    color: #E8BC28;
                }
            }
            .btnNaranja{
                background: $btnNaranja;
            }
        }

        .buttonsB{
            display: block;
            width: calc(100% - 25px);
            margin: auto;
            a{
                display: block;
                text-align: center;
                margin-bottom: 10px;
            }
        }
    }

    .cardAmarilla{
        background: $cardAmarilla;
    }

    .cardVioleta{
        background: $cardVioleta;
    }
}

// Tarjeta digital
.tarjeta{
    width: 80%;
    padding: 40px 0;

    @media screen and (max-width: 575px){
        width: 95%;
    }

    .cuerpo{
        padding: 40px 80px;
        border-radius: 25px;
        
        @media screen and (max-width: 575px){
            padding: 40px;
        }
    }
}
.TarjetaDigital{
    .cuerpo{
        background: #F0F9F9;
        
        .block1{
            display: flex;
            justify-content: space-between;

            h2{
                font-weight: 700;
                line-height: 25px;
    
                span{
                    font-size: 1.0rem;
                }
            }
    
            .text{
                margin-top: 45px;
                margin-bottom: 45px;
            }
    
            video{
                width: 50%;
                display: block;
                margin: auto;
            }
        }

        .block2{
            display: flex;
            justify-content: space-between;
            padding-top: 30px;
            
            .iconBlock{
                width: 20%;
                // padding: 0 3px;
            }

            img{
                width: 70px;
                display: block;
                margin: auto;
                margin-bottom: 15px;
            }
            .title{
                text-align: center;
            }
            .description{
                font-size: 0.9rem;
                line-height: 17px;
                margin-bottom: 0;
            }
        }

        @media screen and (max-width: 1024px){
            h2{
                font-weight: 700;
                text-align: center;

                span{
                    font-size: 1.5rem;
                }
            }
            video{
                width: 100%;
                margin: 30px 0;
            }
            p{
                text-align: center;
            }
            .iconBlock{
                margin-top: 10px;
                img{
                    width: 40%;
                    display: block;
                    margin: auto;
                    margin-bottom: 10px;
                }
                .title{
                    text-align: center;
                }
            }
        }

        @media screen and (max-width: 575px){
            h2{
                font-weight: 700;
                font-size: 30px;
                line-height: 27px;
                text-align: center;

                span{
                    font-size: 20px;
                    line-height: 27px;
                }
            }

            video{
                width: 100%;
                margin: 30px 0;
            }

            .iconBlock{
                img{
                    width: 20%;
                    display: block;
                    margin: auto;
                    margin-bottom: 10px;
                }
                .title{
                    text-align: center;
                }
            }
        }

    }
}

// btnSolicita
.btnSolicita{
    width: 80%;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 575px){
        width: 100%;
    }

    a{
        text-decoration: none;
        color: #fff;
        background: $btnVerde;
        border-radius: 8px;
        padding: 10px 50px;

        @media screen and (max-width: 575px){
            text-align: center;
        }
    }
}

// Tarjeta física
.TarjetaFisica{
    .cuerpo{
        background: #F0F6E0;

        .block1{
            display: flex;
            align-items: center;

            h2{
                font-weight: 700;
                line-height: 25px;
    
                span{
                    font-size: 1.0rem;
                }
            }
            video{

                width: 50%;
                display: block;
                margin: auto;
            }

            .funciona{
                display: flex;
                align-items: center;
                padding: 20px 0;

                h6{
                    color: $colorTextoAzul;
                }

                .icons{
                    display: flex;
                    flex-direction: column;

                    > * + * {
                        margin-top: 6px;
                    }

                    .icon{
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        img{
                            width: 50px;
                        }

                        p{
                            font-size: 0.9rem;
                            margin-bottom: 0;
                            span{
                                font-size: 0.8rem;
                            }
                        }
                    }
                }
            }

            .diferencia{
                .title{
                    display: flex;
                    justify-content: center;
                    padding: 20px 0;

                    h6{
                        color: $colorTextoAzul;
                    }
                }

                .icons{
                    display: flex;
                    justify-content: space-between;

                    .icon{
                        width: 25%;
                        
                        img{
                            width: 60%;
                            display: block;
                            margin: auto;
                            margin-bottom: 10px;
                        }
                        p{
                            text-align: center;
                            font-size: 0.9rem;

                            span{
                                font-size: 0.7rem;
                            }
                        }
                    }
                }
            }
        }

        .block2{
            .title{
                padding: 20px 0;
                text-align: center;

                h5{
                    color: $colorTextoAzul;
                }
                p{
                    margin: 0;
                    font-size: 0.9rem;
                    color: #727176;

                    a{
                        text-decoration: underline;
                        color: #727176;
                    }
                }
            }
            .graficos{
                display: flex;
                
                .grafico{
                    // background-repeat: no-repeat!important;
                    // background-size: cover!important;
                    // background-position: center right!important;
                    // width: 20%;
                    // height: 250px;
                    // padding: 10px;
                    
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;

                    position: relative;
                    width: 50%;
                    height: 500px;
                    background: #32557f;

                    &::after {
                        content: '';
                        position: absolute;
                        right: 0;
                        top: 50%;
                        width: 0;
                        height: 0;
                        border: 13px solid transparent;
                        border-left-color: #32557f;
                        border-right: 0;
                        margin-top: -13px;
                        margin-right: -13px;
                    }
                }
            }
        }

    }
    .buttons{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        gap: 40px;

        @media screen and (max-width: 575px){
            display: block;
            width: 100%;
        }
        
        a{
            text-decoration: none;
            color: #fff;
            padding: 10px 50px;
            border-radius: 8px;
            text-align: center;

            @media screen and (max-width: 575px){
                font-size: 0.9rem;

            }
        }
        .btnNaranja{
            background: $btnNaranja;
            display: flex;
            align-items: center;

            @media screen and (max-width: 575px){
                margin-bottom: 25px;
                justify-content: center;
            }

        }
        .btnAzul{
            background: $btnAzul;

            span{
                color: #E8BC28;
            }

            @media screen and (max-width: 575px){
                display: block;
            }
        }
    }
}

// Banner Celulares
.bannerCelulares{
    background: $colorVerdeLimon;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    
    .cuerpo{
        width: 60%;

        @media screen and (max-width: 575px){
            width: 100%;
        }
    }
}